@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@200;300;400;700&family=VT323&display=swap');
* {
  margin: 0;
  background-color: rgb(255,210,211);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {  
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 110px;
  font-weight: 500;
  color: rgb(70,70,70);
  color: rgb(255,50,0);
}
h1:hover {
  color: rgb(70,70,70);
}

h2 {
  margin: 2rem;
  color:rgb(255,165,167);
  
}

p {
  margin: 2rem;
  color:rgb(16,16,16);
  font-family: 'IBM Plex Mono', monospace;
}

button {
  padding: 0.7rem;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(70,70,70);
  color: #ffd2d3;
  outline: none;
  border: none;
  border-radius: 0px;
  margin: 10px;
}

button:hover {
  background-color: #0080ff;
  color: rgb(255,210,211);
  border: none;
}

footer {
  background-color: rgb(16,16,16);
  color: rgb(255,255,255);
  padding: 1rem;
  max-width: 1800px;
  width: 100%;
  min-height: 30px;
  margin: 10px;
}

.reuse-btn {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(70,70,70);
  color: rgb(255,210,211);
  outline: none;
  border: none;
  border-radius: 0px;
}

.reuse-btn:hover {
  background-color: rgb(255,50,0);
  color:rgb(255,210,211);
  border: none;
}

.name {
  color: purple;
}


/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  color: rgb(70,70,70);
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: rgb(255,165,167);
  margin-bottom: 8px;
}